*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logoo a{
    cursor: pointer;
}
.c1{
    font-size: 30px;
    color: #f9f9f9;
}
.c2{
    color: #f1f1f1;
    font-size: 30px;
    
}
.circles{
    margin-top: 260px;
}

.main{
    background-color: #fff;
    width: 2000px;
    margin-top: -10px;
    position: fixed;
    display:flex;
}
body{
    height: 1000px;
}
.search img{
    margin-left: 5px;
    width: 10px;
    text-decoration: none;
}
.logoo img{
   width: 200px;
   margin-left: 10px;
   margin-right: 70px;
}
.tag1 ul{
    margin-top: -10px;
    float: right;
    list-style-type: none;
   
}
.tag1 ul li{
    margin-top: 30px;
    
    display: inline-block;
}
.tag1 ul li a.last{
    
    text-decoration: none;
    border-radius: 10px;
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    border: 1px solid rgb(10, 10, 10);
    transition: 0.6s ease;
}
.tag1 ul li a{
   
    text-decoration: none;
    border-radius: 10px;
    color:rgb(10, 10, 10); ;
    padding: 10px 20px;
    border: 1px solid rgb(10, 10, 10);
    transition: 0.6s ease;
    
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;
}
.tag1 ul li a:hover{
    background-color:rgb(7, 7, 7);
    color: #fff;
}

.tag2 ul{
    float: right;
    list-style-type: none;
    margin-left: 750px;
}

.tag2 ul li{
    margin-top: 30px;
    display: inline-block;
}   
.tag2 ul li a{
    text-decoration: none;
    border-radius: 10px;
    color:rgb(10, 10, 10); ;
    padding: 10px 20px;
    border: 1px solid rgb(10, 10, 10);
    transition: 0.6s ease;
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    padding: 10px;
    
}
.tag2 ul li a:hover{
    background-color:rgb(8, 8, 8);
    color: #fff;
}
.dropbtn {
    transition: 0.6s;
    border-radius: 8px;
    color: hwb(193 1% 22%);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
  }
  
  .dropdown-content a {
    color: black;
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dd img{
    width: 13px;
  }
.firstpage{ 
  background-image: url("pic/bg.jpg");
  height: 80%;

  background-size: cover;
  text-align: center;

}
.pro{
    margin-top: 10px;
}
.h2{
    margin-top: 20px;
    margin-bottom: 5px;
    color: antiquewhite;
    font-size: 20px;
    font-weight: lighter;
}
.h3, .h4{
    margin-bottom: 5px;
    color: antiquewhite;
    font-size: 20px;
    font-weight: lighter;
}
.h1{
    margin-top: 200px;
    color: antiquewhite;
    font-size: 40px;
   
}.h5{
    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;  
}
.firstpage button {
    background-color: #0acbed; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.6s;
  }

  .firstpage button:hover{
    background-color:rgb(149, 148, 148);
    color: #fff;
}
.feature{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    font-size:xx-large;
    color: rgb(103, 105, 105); 
}
.mainDiv{
    margin-bottom: 100px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
   
}
.firstdiv{
    width: 800px;
    text-align: center;
    margin-right: 40px;
}
.seconddiv{
    width: 800px;
    text-align: center;
    margin-right: 40px;
}
.thirddiv{
    width: 800px;
    text-align: center;
}
.featureHeadings{
    color: rgb(103, 105, 105); 
   font-size: x-large;
    margin-bottom: 20px;
}.firstdiv img{
    width: 300px;
    height: 130px;
    margin-bottom: 20px;
}
.seconddiv img{
    width: 330px;
    margin-bottom: 20px;
}
.thirddiv img{
    width: 300px;
    height: 130px;
}
.thirddiv img{
    margin-bottom: 25px;
}
.ben1{
    
    margin-left: 350px;
    display: flex;
}
.ben1img img{
    margin-left: 50px;
    margin-top: -20px;
    margin-right: 40px;
    width: 90px;
    border-radius: 90px;
}
.ben1content{
    margin-left: 30px;
    margin-top: 20px;
    width: 650px;
    color: #6e6f70;
}
.b1heading{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 10px;;
}
.ben2img img{
width: 90px;
margin-left: 50px;
margin-right: 40px;
}
.ben3img img{
width: 90px;
margin-left: 50px;
margin-right: 40px;
margin-top: 20px;
}
.spContent{
    margin-left: 300px;
    display: flex;
   
}
.cont p{
    margin-top: -70px;
}
.spContent .img2 img{
    width: 170px;
    height: 90px;
    margin-top: -30px;
    margin-left: -30px;
}
.spContent .img3 img{
    width: 200px;
    margin-left: -80px;
    margin-top: -35px;
}
.spContent .img4 img{
    width: 80px;
    margin-left: -60px;
    margin-top: -30px;
}


.img1 img{
    width: 100px;
    margin-right: 200px ;
}
.img11 img{
    width: 70px;
    margin-right: 200px ;
}
.img2 img{
   
    width: 130px;
    height: 100px;
    margin-right: 200px ;
}
.img3 img{
    width: 130px;
    height: 100px;
    margin-right: 200px ;
}
.img4 img{
    width: 60px;
    margin-bottom: 100px;
}
.div2 .img5 img{
    width: 60px;
    height: 80px;
    margin-left: -1px;
    margin-bottom: 100px;
}
.div2 .img6 img{
    width: 200px;
    height: 100px;
    margin-bottom: 100px;
}
.img11 a{
    cursor: pointer;
}
.a{
    margin-top: 90px;
    background: rgb(237, 235, 235);
}
.class2{
    margin-top: 100px;
margin-bottom: 80px;
}
.VC{
    margin-left: 300px;
    display: flex;
}
.vc1 img{
    
   margin-right: 100px;
   width: 400px;
   height: 180px
}
.vc2 img{
 
 overflow: hidden;
width: 415px;
height: 180px;

}
.para1{
    margin-left: 340px;
    width: 800px;
    color: #6e6f70;
    text-align: center;
    margin-top: 80px;
}
.centered {
    position: absolute;
    top: 388%;
    left: 33%;
    color: rgb(250, 247, 247);
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .centered2 {
    position: absolute;
    top: 388%;
    left: 67%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .inp{
    margin-left: 500px;
    padding-top: 10px;
    width: 300px;
    padding-left: 10px;
    padding-right: 150px;
    padding-bottom: 15px;
    border: none;
    box-shadow: 0px 0px 10px rgb(203, 203, 203) inset;
  }
  .inpcon{
    display: flex;
  }
  .btn button{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    border: none;
    color: aliceblue;
    background-color: #085fd8;
  }
  .btn button:hover{
    background-color:rgb(3, 3, 3);
    color: #fff;
}
  .using{
    margin-top: 40px;
    background-color: #f3f4f6;
  }
  .div1{
    margin-top: -30px;
    display: flex;
    margin-left: 250px;
  }
  .div2{
    margin-top: 50px;
  }
  .div1 .img1 img{
    width: 200px;
  }
  .div1 .img2 img{
    width: 200px;
  }
  .div1 .img3 img{
    width: 200px;
  }
  .div2 .img1 img{
    height: 110px;
  }
  .div2 .img2 img{
    margin-top: 2px;
    height: 120px;
  }
  .div2 .img3 img{
    margin-top: 2px;
    height: 120px;
  }
  .cont{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 70px;  
}
.sp:hover{
    text-decoration: underline;
}
.sp{
    text-decoration: none;
    color: #085fd8;

}
.img1 img{
    cursor: pointer;
    margin-left: 20px;
    width: 15px;
}
.img1 img:hover{
    cursor: pointer;
    background-color: #085fd8;
}
.first .img1 img:hover{
    cursor: pointer;
    background-color: #bfc1c2;
}

.share{
    
    margin-left: -195px;
}
.share:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tag{
    margin-bottom: 5px;
    margin-left: -20px;

}
.emmapara{
    margin-bottom: 5px;
}
.emma img{
   margin-bottom: 10px;
    width: 400px;
}
.first{
    width:400px;
   
}
.embed{
    padding-left: 10px;
    border-radius: 10px;
    height: 30px;
    padding-top: 10px;
    background-color: #dcdcdc;
}
.discover{
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}
.bottompara{
    margin-top: 100px;
    justify-content: space-between;
    text-align: center;
    margin-left: 400px;
    color: #6e6f70;
    width: 700px
}
.black{
    color: #4480f8;
    background-color: black;
    height: 100px;
}
.pa{
    cursor: pointer;
    font-size: 13px;
    margin-left: 600px;
    padding-bottom: 10px;
    padding-top: 30px;
}.pa2{
    cursor: pointer;
    font-size: 10px;
    margin-left: 635px;
       
}
.black a:hover{
    text-decoration: underline;
}
.fb img{
    margin-left: 5px;
    border-radius: 7px;
    width:15px
}
.black a{
    text-decoration: none;
    color: #4480f8;
    cursor: pointer;
}
.tw{
    margin-top: 5px;
}

@media only screen and (max-width:700px){
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .logoo a{
        cursor: pointer;
    }
    .c1{
        font-size: 30px;
        color: #f9f9f9;
    }
    .c2{
        color: #f1f1f1;
        font-size: 30px;
        
    }
    .circles{
        margin-top: 150px;
    }
    
    .main{
        background-color: #fff;
        width: 2000px;
        margin-top: -10px;
        position: fixed;
        display:flex;
    }
    body{
        height: 1000px;
    }
    .search img{
        margin-left: 5px;
        width: 10px;
        text-decoration: none;
    }
    .logoo img{
       width: 200px;
       margin-left: 20px;
       margin-right: 3px;
    }
    .tag1 ul{
        margin-top: -10px;
        float: right;
        list-style-type: none;
       
    }
    .tag1 ul li{
        margin-top: 30px;
        
        display: inline-block;
    }
    .tag1 ul li a.last{
        
        text-decoration: none;
        border-radius: 10px;
        color: rgb(10, 10, 10);
        padding: 10px 20px;
        border: 1px solid rgb(10, 10, 10);
        transition: 0.6s ease;
    }
    .tag1 ul li a{
       
        text-decoration: none;
        border-radius: 10px;
        color:rgb(10, 10, 10); ;
        padding: 10px 20px;
        border: 1px solid rgb(10, 10, 10);
        transition: 0.6s ease;
        
        border: 1px solid rgba(0, 0, 0, 0);
        -webkit-background-clip: padding-box; 
        background-clip: padding-box; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        padding: 10px;
    }
    .tag1 ul li a:hover{
        background-color:rgb(7, 7, 7);
        color: #fff;
    }
    
    .tag2 ul{
        float: right;
        list-style-type: none;
        margin-left: -10px;
    }
    
    .tag2 ul li{
        margin-top: 30px;
        display: inline-block;
    }   
    .tag2 ul li a{
        text-decoration: none;
        border-radius: 10px;
        color:rgb(10, 10, 10); ;
        padding: 10px 20px;
        border: 1px solid rgb(10, 10, 10);
        transition: 0.6s ease;
        border: 1px solid rgba(0, 0, 0, 0);
        -webkit-background-clip: padding-box; 
        background-clip: padding-box; 
        padding: 10px;
        
    }
    .tag2 ul li a:hover{
        background-color:rgb(8, 8, 8);
        color: #fff;
    }
    
    .firstpage{ 
      background-image: url("pic/bg.jpg");
      height: 70%;
      background-size: cover;
      text-align: center;
    width: 800px;
    margin-left: -70px;
    padding-top: 30px;
    }
    .pro{
        margin-top: 10px;
    }
    .h2{
        margin-top: 20px;
        margin-bottom: 5px;
        color: antiquewhite;
        font-size: 20px;
        font-weight: lighter;
    }
    .h3, .h4{
        margin-bottom: 5px;
        color: antiquewhite;
        font-size: 20px;
        font-weight: lighter;
    }
    .h1{
        margin-top: 200px;
        color: antiquewhite;
        font-size: 40px;
       
    }.h5{
        color: antiquewhite;
        font-size: 30px;
        font-weight: bold;  
    }
    .firstpage button {
        background-color: #0acbed; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.6s;
      }
    
      .firstpage button:hover{
        background-color:rgb(122, 121, 121);
        color: #fff;
    }
    .feature{
        margin-bottom: 50px;
        text-align: center;
        margin-top: 50px;
        font-size:xx-large;
        color: rgb(103, 105, 105); 
       margin-left: 130px;
       width:400px;
    }
    .mainDiv{
        margin-bottom: 100px;
        display:inline-block;
        margin-left: 150px;
       
    }
    .f{
margin-left: 30px;
    }
    .p{
        margin-bottom: 30px;
        width: 500px;
    }
    .firstdiv{
        width: 600px;
        text-align: center;
        
        margin-left: -90px;
    }
    .seconddiv{
        width: 600px;
        text-align: center;
        
        margin-left: -90px;
    }
    .thirddiv{
        width: 600px;
        text-align: center;
        margin-left: -90px;
    }
    .featureHeadings{
        color: rgb(103, 105, 105); 
       font-size: x-large;
        margin-bottom: 20px;
        margin-left: -80px;
    }.firstdiv img{
        width: 500px;
        height: 200px;
        margin-bottom: 20px;
        margin-left: -90px;
    }
    .seconddiv img{
        width: 500px;
        margin-bottom: 20px;
        margin-left: -90px;
    }
    .thirddiv img{
        width: 500px;
        height: 200px;
        margin-left: -90px;
    }
    .p2{
        margin-bottom: 30px;
    }
    .thirddiv img{
        margin-bottom: 25px;
    }

    .ben1{
        
        margin-left: 130px;
        display: flex;
    }
    .ben1content{
        margin-left: 10px;
        margin-top: 20px;
        width: 300px;
        color: #6e6f70;
    }
    .benefits{
margin-left: -40px;
    }
    .b1heading{
        font-weight: bolder;
        font-size: large;
        margin-bottom: 10px;
        width: 400px;
    }
    .ben2img img{
    width: 120px;
    margin-left: 30px;
    }
    .ben1img img{
        width: 120px;
        margin-left: 30px;
       
        margin-bottom: 20px;
        }
    .ben3img img{
    width: 100px;
    margin-left: 40px;
    margin-top: 20px;
    }
    .spContent{
        margin-left: 70px;
        display: flex;
       
    }
    .sp{
        margin-left: -20px;
        width: 710px;
    }
    .img1 img{
        width: 100px;
        margin-right: 200px ;
    }
    .img11 img{
        width: 70px;
        margin-right: 200px ;
    }
    .img2 img{
        margin-top: -10px;;
        width: 80px;
        margin-right: 200px ;
    }
    .spContent .img11 img{
         width:50px;
         margin-right: 130px ;
    }
    .spContent .img2 img{
        width:100px;
        height: 70px;
        margin-right: 130px ;
   }
   .spContent .img3 img{
    width:140px;
    height: 70px;
    margin-right: 130px ;
}
.spContent .img4 img{
    width:50px;
}
    .img3 img{
        width: 110px;
       
    }
    .img4 img{
        width: 60px;
        margin-bottom: 100px;
    }
    .img11 a{
        cursor: pointer;
    }
    .a{
        margin-top: 90px;
        background: rgb(237, 235, 235);
    }
    
    .class2{
        margin-top: 100px;
    margin-bottom: 80px;
    }
    .VC{
        margin-left: 300px;
        display: inline-block;
        margin-left: 150px;
    }
    .vc{
        margin-left: -20px;
    }
    .vc1 img{
       
       margin-left: -90px;
       width: 600px;
       height: 300px
      
    }
    .vc2 img{
     padding-top: 30px;
     overflow: hidden;
    width: 600px;
    height: 300px;
    margin-left: -90px;
    
    }
    .para1{
        margin-left: 90px;
        width: 500px;
        color: #6e6f70;
        text-align: center;
        margin-top: 80px;
    }
    .centered {
        position: absolute;
        top: 680%;
        left: 33%;
        color: rgb(253, 250, 250);
        transform: translate(-50%, -50%);
        font-size: 30px; 
        margin-left: 140px;

      }
      .centered2 {
        position: absolute;
        top: 730%;
        left: 60%;
        color: #fff;
        transform: translate(-50%, -50%);
        font-size: 30px;
      }
      .inp{
        margin-left: 80px;
        padding-top: 10px;
        width: 300px;
        padding-left: 10px;
        padding-right: 150px;
        padding-bottom: 15px;
        border: none;
        box-shadow: 0px 0px 10px rgb(203, 203, 203) inset;
      }
      .inpcon{
        display: flex;
      }
      .btn button{
        cursor: pointer;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
        border: none;
        color: aliceblue;
        background-color: #085fd8;
      }
      .btn button:hover{
        background-color:rgb(3, 3, 3);
        color: #fff;
    }
      .using{
        margin-top: 40px;
        background-color: #f3f4f6;
      }
      .div1{
        margin-top: -30px;
        display: inline-block;
        margin-left: 250px;
      }
      .div2{
        margin-top: 50px;
      }
      .cp2{
        width: 710px;
      }
      .cp{
        margin-left: -190px;
        justify-content: space-between;
      }
      .div1 .img1 img{
        width: 500px;
        height: 220px;
        margin-bottom: 40px;
      }
      .div1 .img2 img{
        width: 500px;
        height: 220px;
        margin-left: 20px;
        margin-bottom: 40px;
      }
      .div1 .img3 img{
        width: 500px;
        height: 220px;
        margin-left: 20px;
        margin-bottom: -10px;
      }
      .div2 .img1 img{
        height: 240px;
        width: 500px;
        margin-left: 20px;
        margin-bottom: 40px;
      }
      .div2 .img2 img{
        margin-top: 2px;
        width: 500px;
        height: 220px;
        margin-bottom: 40px;
      }
      .div2 .img6 img{
        margin-top: 2px;
        width: 500px;
        margin-left: 20px;
        height: 220px;
      }
      .cont{
        margin-top: 40px;
        margin-left: 190px;
        text-align: center;
        margin-bottom: 70px;  
    }
    .sp:hover{
        text-decoration: underline;
    }
    .sp{
        text-decoration: none;
        color: #085fd8;
    
    }
    .img1 img{
        cursor: pointer;
        margin-left: 20px;
        width: 15px;
    }
    .img1 img:hover{
        cursor: pointer;
        background-color: #085fd8;
    }
    .share{
        
        margin-left: -195px;
    }
    .share:hover{
        text-decoration: underline;
        cursor: pointer;
    }.ds{
        margin-left: -10px;
    }
    .tag{
        margin-bottom: 5px;
        margin-left: -20px;
    
    }
    .emmapara{
        margin-bottom: 5px;
    }
    .emma img{
       margin-bottom: 10px;
        width: 500px;
    }
    .first{
        width:400px;
       
    }
    .embed{
        padding-left: 10px;
        border-radius: 10px;
        height: 30px;
        padding-top: 10px;
        background-color: #dcdcdc;
        margin-bottom: 30px;
    }
    .discover{
        justify-content: space-between;
        margin-left:100px;
        display: inline-block;
    }
    .bottompara{
        margin-top: 40px;
        justify-content: space-between;
        text-align: center;
        margin-left: 70px;
        color: #6e6f70;
        width: 500px
    }
    .black{
        width: 710px;
        color: #4480f8;
        background-color: black;
        height: 100px;
    }
    .pa{
        cursor: pointer;
        font-size: 13px;
        margin-left: 200px;
        padding-bottom: 10px;
        padding-top: 30px;
    }.pa2{
        cursor: pointer;
        font-size: 10px;
        margin-left: 240px;
           
    }
    .fb img{
        margin-left: 5px;
        border-radius: 7px;
        width:15px
    }
    .black a{
        text-decoration: none;
        color: #4480f8;
        cursor: pointer;
    }
    .tw{
        margin-top: 5px;
    }
    
}